#carousel{
    background-color: #4b8cfd;
}
#contact{
    background-color: #4b8cfd;
}
#hero{
    background-color: #020915;
}
footer a {
    text-decoration: none;
    font-size: 0.9rem;
}
@media (max-width: 768px) {
    #products .col-sm-6 {
        flex: 0 0 100%;
    }
}
